@page "/Categories"

@attribute [Authorize(Policy = "Admin")]

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject ICategoryService CategoryService
@inject IUserService UserService

<PageTitle>Categories</PageTitle>

<h1 class="page-heading text-uppercase mb-4">Categories</h1>

<div class="row justify-content-center create-form">
	<div class="form-layout col-xl-9 col-lg-11">
		<div class="close-button-section">
			<button id="new-category" class="btn category-entry-new-category" @onclick="NewCategory">New Category</button>
			<button id="close-page" class="btn btn-close" @onclick="ClosePage"></button>
		</div>
		<div class="">
			@if (_categories is not null)
			{
				<Virtualize Context="c" Items="@_categories" OverscanCount="10">
					<div class="category-entry">
						<div class="category-entry-text-name">
							@c.CategoryName
						</div>
						<div class="category-entry-text-description">
							@c.CategoryDescription
						</div>
						<div>
							<button id="edit-category" class="btn btn-primary" @onclick="() => _editCategory = c">Edit</button>
						</div>
						<div>
							<button id="delete-category" class="btn btn-primary" @onclick="() => _deleteCategory = c">Delete</button>
						</div>
					</div>
				</Virtualize>
			}
		</div>
	</div>
</div>
