@page "/Comment"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject IIssueService IssueService
@inject ICategoryService CategoryService
@inject IUserService UserService

<h1 class="page-heading text-light text-uppercase mb-4">Comment on an Issue</h1>

@code {
	
}