@page "/solution"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject IUserService UserService

<h3>Solution</h3>
<h3 class="link">@_loggedInUser?.DisplayName</h3>

@code {
	private CreateSolutionDto _solution = new();
	private UserModel? _loggedInUser;

	protected override async Task OnInitializedAsync()
	{
		_loggedInUser = await AuthProvider.GetUserFromAuth(UserService);
	}

}