@page "/Solution/{Id}"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject IUserService UserService
@inject ISolutionService SolutionService
@inject IIssueService IssueService


<h1 class="page-heading text-light text-uppercase mb-4">Solution to an Issue</h1>

<div class="row justify-content-center create-form">
	<div class="col-xl-8 col-lg-10 form-layout">
		<div class="close-button-section">
			<button id="close-page" class="btn btn-close" @onclick="ClosePage"></button>
		</div>
	</div>
</div>
