@page "/solution"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject IUserService UserService

<h3>Solution</h3>
<h3 class="link">@_loggedInUser?.DisplayName</h3>